/* Light mode */
:root {
  --bg: #F8F9FB;
  --bg-panel: #997c56;

  --text: #1A1A1A;
  --text-subtle: #616161;

  --border: #E2E8F0;

  --accent: #3A86FF;
  --accent-muted: #E7F0FF;

  --bubble-user: #5d83a3;
  --text-user: #e9ffea;
  --bubble-ai: #F3F4F6;
}

/* Dark mode */
.body--dark {
  background: #22211c !important;
  --q-dark: #171717;

  --bg: #0D0E11;
  --bg-panel: #272827;

  --text: #ECECEC;
  --text-subtle: #A0A0A0;

  --border: #2A2D34;

  --accent: #4C9CFF;
  --accent-muted: #1A2333;

  --bubble-user: #4065a8;
  --text-user: #ffffff;
  --bubble-ai: #22252B;
}

body {
    font-size: 18px;
}
.body--light {
  background: #a5b4ce !important;
}
.user p {
    margin-bottom: 0 !important;
}

.assistant h1,
.assistant h2,
.assistant h3,
.assistant h4,
.assistant h5,
.assistant h6 {
    all: revert;
}

.bg-panel {
    background-color: var(--bg-panel) !important;
}

.q-list--dark, .q-item--dark {
    color: #dedede;
}
